
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha3
84-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
crossorigin="anonymous"></script> <script src="https://cdnjs.cloudflare.com/aj
ax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3
Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
crossorigin="anonymous"></script> <script
src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" inte
grity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl
" crossorigin="anonymous"></script>   <link rel="stylesheet"
href="animate.min.css">    <link rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">   <!--
or -->   <link rel="stylesheet"   href="https://cdnjs.cloudflare.com/ajax/libs
/animate.css/3.5.2/animate.min.css"> 

<link rel="stylesheet" href="css/animate.css">
 <script src="js/wow.min.js"></script>
              <script>
              new WOW().init();
              </script>
</head> 





<body>
 <nav class="navbar navbar-expand-lg navbar-light bg-light">    <a class="navbar-brand" href="#">
<img src="logo.svg" width="150" height="30" alt="">   </a>   <button class
="navbar-toggler" type="button" data-toggle="collapse" data-
target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-
expanded="false" aria-label="Toggle navigation">     <span class="navbar-
toggler-icon"></span>   </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About us</a>
      </li>
      <div align="right">
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Log in</a>
      </li>
      </div>
    </ul>
  </div>
  <div  align="right" class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select Product
  </button>
   <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
     <a class="dropdown-item" href="https://autoandon.com/">Auto Andon</a>
     <a class="dropdown-item" href="ttps://autoclita.com/">Auto Clita</a>
     <a class="dropdown-item" href="#">Auto PM</a>
     <a class="dropdown-item" href="#">Auto Vision</a>
   </div>
  </div>
</nav>


<div align="center">


<img src="laptop.png" width="640" height="480" alt="">

  <p>​
As the world has been revolutionized by the advent and evolution of Information Technology, it is expected that in the coming decades with the development of technology such as Artificial Intelligence, Machine Learning and Deep Learning, the very landscape of the arena of value addition in industries will undergo a huge transformation.

 

​

We shll be an entity to harness and integrate these technologies for experimenting and establishing creative, innovative, practical and sustainable solutions and avenues for value addition for industries and business entities with a focus on information management, predictive analytics and operational optimization.</p>
<h2>
  
  <div class="progress">
  <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="progress">
  <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="progress">
  <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="progress">
  <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>
</h2>



<div class="wow bounceInUp">
  <H1>Profile</H1>
                </div>









</div>
<div align="center">



<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQ4ZRofXXALex_C-cNAM41zrTotvNi737TGWm8ks32BI6gvztv7ntmp7RyaOcusiSZBCzrmbB6r5DKJ/embed?start=true&loop=true&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

</div>


</body>
