<!DOCTYPE html>
<html lang="en">
 {% load staticfiles %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Prodwiz Add User</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <link rel="stylesheet" href="{% static "prodwiz/css/background2.css" %}">

  </head>

<body>

    <div class="container centered2" style="margin-top:100px" >
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading" style="background-color: #336699;color: white">
                        <h3 class="panel-title">Add User</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" method="post" action=".">{% csrf_token %}
                        {% if form.errors %}<p>Please correct the following fields:</p>{% endif %}
                            <fieldset>
                             {% if form.username.errors %}<p class="error">{{ form.username.errors }}</p>{% endif %}
                                <div class="form-group">
                                    <input class="form-control" placeholder="User Name" name="username" type="text" >
                                </div>
                                 {% if form.password1.errors %}<p class="error">{{ form.password1.errors }}</p>{% endif %}
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password1" type="password" value="">
                                </div>
                                {% if form.password2.errors %}<p class="error">{{ form.password2.errors }}</p>{% endif %}

                                <div class="form-group">

                    <input type="password" id="pass" class="form-control" placeholder="Confirm Password" name="password2">
                                    
                                </div>
                                 <div class="form-group" >
                                 <div class="col-md-6" style="padding-left: 0px;padding-right: 1px">
                                  <a href="{{ company_url }}prodwizadmin/">
                               <input type="button" class="btn btn-large btn-success btn-block " value="Cancel" style="background-color: #336699;"></a></div>
                                <div class="col-md-6" style="padding-left: 1px;padding-right: 0px">
                               
                                <input type="submit" class="btn btn-large btn-success btn-block " value="Save" style="background-color: #336699;">
                              
                                </div>
                              
                                <!--a href="" class="btn btn-lg btn-success btn-block">Save</a-->
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

 
    

</body>

</html>

