{% extends "useraccTemplates/registration/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<!-- <div class="breadcrumbs">
<a href="{% url 'admin:index' %}"> {% trans 'Home' %} </a>
&rsaquo; {% trans 'Password reset' %} 
</div> -->
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}

<p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

<form method="post">{% csrf_token %}
{{ form.email.errors }}
<p><label for="id_email">{% trans 'Email address:' %}</label> {{ form.email }} <input type="submit" value="{% trans 'Reset my password' %}" /></p>
</form>

{% endblock %}
