<!DOCTYPE html>
<html class="full" lang="en">
	{% load staticfiles %}
	<head>





		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="icon" sizes="192x192" href="{% static "images/icon.png" %}" >


		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>autoANDON</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static "css/background.css" %}">

			<style>
				.vertical-center {
					min-height: 100%; 
					min-height: 100vh; 

					display: flex;
					align-items: center;
				}
			</style>

	</head>


	<body>
		<div class="container">
			<div class="row">
				<div class="col-xs-5 col-xs-offset-4 panel-default">
					<div class="row">
						<div class="col-lg-12">
							<h4 class="text-center login-title" style="font-family:arial;; color:white; background-color:#1abea5; border-radius:50px 0px 50px 0px;"><strong>autoANDON</strong></h4>
						</div>
					</div>
					<div class="account-wall">
						<div class="row">
						</div>

						<div class="row">
							<form class="col-lg-12 col-md-12 col-sm-12 col-xs-12" action=".?next={{ redirect_to }}" method="POST"> {% csrf_token %}
								{% if form.username.errors %}<p class="error">{{ form.username.errors }}</p>{% endif %}
								<input type="text" class="form-control" name="username" placeholder="Username" required autofocus style="font-family:arial;">
								<input type="password" class="form-control" name="password" placeholder="Password" style="font-family:arial;">
								
									<div style="font-family:arial;;">{{loginMessage}}</div>
								<button class="btn btn-lg btn-info btn-block" type="submit" style="font-family:arial;">Sign in</button>
								<!-- <div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<a href="{{ company_url }}password_reset/" class="pull-right need-help" style="color: black; font-family:arial;"><u>Forgot Password</u> </a>
									</div>
									
								</div> -->
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
