<!DOCTYPE html>
<html class="full" lang="en">
	{% load staticfiles %}
	<head>
		<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Change Password</title>
    <script src="{% static "js/angular.js" %}"></script>
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/addUser.js" %}"></script>

    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/font-awesome/css/font-awesome.css" %}">

    <link rel="stylesheet" href="{% static "css/background2.css" %}">
		<style>
				.vertical-center {
					min-height: 100%; /* Fallback for browsers do NOT support vh unit */
					min-height: 100vh; /* These two lines are counted as one :-)       */

					display: flex;
					align-items: center;
				}
		</style>
	</head>
	<body>

    <div class="container centered2" style="margin-top:80px; height: 150px;" >
        <div class="row">
            <div class="col-md-4 col-lg-4 col-lg-offset-3 col-md-offset-3">
                <div class="login-panel panel panel-default" style="height:320px; width:500px;">
                    <div class="panel-heading" style="background-color:#009530; color:white; text-align:center;">
                        <h3 class="panel-title" style="margin-bottom:8px; margin-top:8px; font-family:Arial; font-size:20px;">PASSWORD CHANGE</h3>
                    </div>
                    <div class="panel-body" style="margin-top: 10px;">
                        <form class="col-lg-12" action="" method="POST"> {% csrf_token %}
								{{ form.old_password.errors }}
								<input type="password" class="form-control" id="id_old_password" name="old_password" placeholder="CURRENT PASSWORD" required autofocus style="font-size: 12px; font-family:Arial; text-align:left; border:1px solid #87D300;">

								{{ form.new_password1.errors }}
								<input type="password" class="form-control" id="id_new_password1" name="new_password1" placeholder="NEW PASSWORD" required style="margin-top:10px; font-size: 12px; font-family:Arial; text-align:left; border:1px solid #87D300;">

								{{ form.new_password2.errors }}
								<input type="password" class="form-control" id="id_new_password2" name="new_password2" placeholder="CONFIRM PASSWORD" required style="margin-top:10px; font-size: 12px; font-family:Arial; text-align:left; border:1px solid #87D300;">
								<div class="row">
									<div class="col-lg-12">
										<div class="col-xs-6 btn-default btn-xs"> 
											<button type="submit" class="btn btn-md btn-block pull-left" style="background-color:#009530; width:200px; margin-top:30px; color:white;">CHANGE PASSWORD</button>
										</div>
										<div class="col-xs-6 btn-default btn-xs">
											<a href="{{ company_url }}dashboard/">
												<button type="button" class="btn btn-md btn-block pull-right" type="button" style="background-color:#009530; width:200px; margin-top:30px; color:white;">CANCEL</button>
											</a>
										</div>
									</div>
								</div>
							</form>
                    </div>
                </div>
            </div>
        </div>
    </div>

 
    

</body>
</html>
