<div class="clearfix " >	
	<!-- <div class="panel" style="height: 200px;"> -->
	<div class="modal-dialog">
		<div class="modal-header">
        	
        	
      	</div>
		
		
		<div class="modal-body">
				<h6 style="color:black; font-size:17px; text-align:center; font-family:Arial;"> {[{msg}]}</h6>
		</div>
		
		<div class="col-md-12 col-lg-12 col-sm-12 modal-footer">
			<button type="button"  ng-click="Ok()" class="btn  pull-right" style="margin:0 5px; background-color:#009530;color:white;">Ok</button>
			
		</div>
	</div>
</div>