<div class="clearfix " >  
  <!-- <div class="panel" style="height: 200px;"> -->
  <div class="modal-dialog">
      
      <div class="modal-body">
       <!--  <div class="container" > -->
              <div>
                       <label style="margin-top: 25px;margin-left: 60px;"><b>Line</b></label>
                      <input type="text4" placeholder="Line" ng-model="machineParams.line">
                </div> 

               <div > 
                  <label style="margin-top: 25px;margin-left: 60px;"><b>Machine Id</b></label>
                   <input type="text2" placeholder="Machine Id" ng-model="machineParams.machine_id">
              </div>
               <div > 
                  <label style="margin-top: 25px;margin-left: 60px;"><b>Machine Name</b></label>
                   <input type="text2" placeholder="Machine Name" ng-model="machineParams.machine">
              </div>
                <div > 
                  <label style="margin-top: 25px;margin-left: 60px;"><b>Model Number</b></label>
                   <input type="text2" placeholder="Machine Name" ng-model="machineParams.modelNumber">
              </div>
               <div > 
                  <label style="margin-top: 25px;margin-left: 60px;"><b>Make</b></label>
                   <input type="text2" placeholder="Machine Name" ng-model="machineParams.make">
              </div>

               <div>
                        <label style="margin-top: 25px;margin-left: 60px;"><b>Checklist Name</b></label>
                              <select class="dropdown" ng-options ="i.checkListSerialNumber as  i.checkListSerialNumber for i in checkListTemplates" ng-model="machineParams.checklistSerialNumber" ng-change="templateChange()">
                             
                              </select>
                  </div> 

               


              <!--   <div>
                                <b style="margin-left: 60px;">No of Machines</b>
                                <input type="number" placeholder="No of machines" ng-model="machineParams.numberOfMachines" class="dropdown">
                </div>  -->

                <div>
                        <label style="margin-top: 25px;margin-left: 60px;"><b>Supervisor</b></label>
                        <input type="text5" placeholder="Supervisor" ng-model="machineParams.supervisorName" >
                </div> 

                <div>
                        <label style="margin-top: 25px;margin-left: 60px;"><b>Maintainer</b></label>
                        <input type="text6" placeholder="Maintainer"  ng-model="machineParams.maintenanceHead" >
                </div> 

      </div>

              <div class="col-lg-12 col-md-12 col-sm-12 " style="margin-bottom: 50px;">

                  <div class="col-lg-offset-1 col-lg-4 col-md-4 col-sm-4">
                          <button type="button"  ng-click="cancel()" class="btn  pull-right" style="margin:0 5px; background-color:#f08080;color:white;">Cancel</button>      
                  </div>

                  <div class="col-lg-4 col-md-4 col-sm-4">
                          <button type="button"  ng-click="submit()" class="btn  pull-right" style="margin:0 5px; background-color:#2e8b57;color:white;">Submit</button>
                  </div>

              </div>

  
  </div>
</div>
<!----------------------------------------------------->
<!--mobil responsiveness begin-->


<div class="clearfix hidden-lg " >  
  <!-- <div class="panel" style="height: 200px;"> -->
  <div class="modal-dialog">
      
      <div class="modal-body">
       <!--  <div class="container" > -->

               <div class="hidden-lg col-xs-12" > 
                  <label style="margin-top: 25px;margin-left: 60px;"><b>Machine Name</b></label>
                   <input type="text2" placeholder="Machine Name" ng-model="machineParams.machine">
              </div>
              
               <div class="hidden-lg col-xs-12">
                        <label style="margin-top: 25px;margin-left: 60px;"><b>Checklist Name</b></label>
                              <select class="dropdown" ng-options ="i.checkListSerialNumber as  i.checkListSerialNumber for i in checkListTemplates" ng-model="machineParams.checklistSerialNumber" ng-change="templateChange()">
                             
                              </select>
                  </div> 

                <div class="hidden-lg col-xs-12">
                       <label style="margin-top: 25px;margin-left: 60px;"><b>Line</b></label>
                      <input type="text4" placeholder="Line" ng-model="machineParams.line">
                </div> 

                <div class="hidden-lg col-xs-12">
                                <b style="margin-left: 60px;">No of Machines</b>
                                <input type="number" placeholder="No of machines" ng-model="machineParams.numberOfMachines" class="dropdown">
                </div> 

                <div class="hidden-lg col-xs-12">
                        <label style="margin-top: 25px;margin-left: 60px;"><b>Supervisor</b></label>
                        <input type="text5" placeholder="Supervisor" ng-model="machineParams.supervisorName" >
                </div> 

                <div class="hidden-lg col-xs-12">
                        <label style="margin-top: 25px;margin-left: 60px;"><b>Maintainer</b></label>
                        <input type="text6" placeholder="Maintainer"  ng-model="machineParams.maintenanceHead" >
                </div> 

      </div>

              <div class="hidden-lg col-xs-12" style="margin-bottom: 50px;">

                  <div class="hidden-lg col-xs-4 col-xs-4">
                          <button type="button"  ng-click="cancel()" class="btn  pull-right" style="margin:0 5px; background-color:#f08080;color:white;">Cancel</button>      
                  </div>

                  <div class="hidden-lg col-xs-4 col-xs-4">
                          <button type="button"  ng-click="submit()" class="btn  pull-right" style="margin:0 5px; background-color:#2e8b57;color:white;">Submit</button>
                  </div>

              </div>

  
  </div>
</div>
