<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}
  	<meta charset="UTF-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<title>autoANDON</title>
  
   	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.5/paper/bootstrap.min.css">
    <link href="https://marceljuenemann.github.io/angular-drag-and-drop-lists/demo/framework/vendor/bootstrap.min.css" rel="stylesheet">
  
    <link rel="stylesheet" href="{% static "css/dashboard.css" %}">
    <link rel="stylesheet" href="{% static "css/scheduling.css" %}">
    <link rel="stylesheet" href="{% static "css/qrscanner.css" %}">
    <link rel="stylesheet" href="{% static "css/settings.css" %}">
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.0/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
   
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-touch.min.js"></script>

    <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- for qrscanner begin -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

  

    <!-- // <script src="{% static "js/d3.min.js" %}"></script> -->
    <script src="{% static "js/dashboard.js" %}"></script>
    <script src="{% static "js/angular.js" %}"></script>
    
    <!-- // <script src="{% static "js/frequency_trend_directive.js" %}"></script> -->
    <!-- // <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->

    
        <script src="{% static "js/webcam.js" %}"></script>
        <script src="{% static "js/bc-qr-reader.js" %}"></script>
        <script src="{% static "js/bc-qr-reader.js" %}"></script>
        <script src="{% static "js/graph-plotter.js" %}"></script>
 

    <link rel='stylesheet' href="{% static "css/qrScanner.css" %}"/>
   
    
    <!-- for qrscanner end -->
  
  
    <style type="text/css">
    .table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td{
    padding: 1px;
  }</style>
  </head>


  <body ng-app="dashboard-app" ng-controller='dashboardController' >
  
    <nav class="navbar navbar-A hidden-print navbar-default" style="border-radius:0;margin-bottom:0;">

      <div class="navbar-header">
         
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button> 
          <div class="navbar-brand site-title hidden-lg" ng-class="{active:submenu=='qrscanner'}"><a href= "" ng-click = "SubmenuChooser('qrscanner')" style="color: white;"><p><b>QR Scanner</b></p></a></div>

      </div>
      <div class=" collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right ">
          <li  ng-class="{active:submenu==false}"><a href= "" ng-click = "SubmenuChooser(false)" style="color: white; " ><p><b>Dashboard</b></p></a></li>   
          <li ng-class="{active:submenu=='settings'}"><a href= "" ng-click = "SubmenuChooser('settings')" style="color: white;"><p><b>Settings</b></p></a></li>
          <li ng-class="{active:submenu=='scheduling'}"><a href= "" ng-click = "SubmenuChooser('scheduling')" style="color: white;"><p><b>Scheduling</b></p></a></li>
          
          <li ng-class="{active:submenu=='qrscanner'}"><a href= "" ng-click = "SubmenuChooser('qrscanner')" style="color: white;"><p><b>QR Scanner</b></p></a></li>

          <li ng-class="{active:submenu=='report'}"><a href= "" ng-click = "SubmenuChooser('report')" style="color: white;"><p><b>Report</b></p></a></li>


          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:white; font-size:15px;  font-family:arial;"><strong>{{ user.get_username }}</strong> 
              <span class="fa fa-user icon-size:medium"></span>
              <span style="font-size:0px; font-family:arial;"> <span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" style="margin: 0px; padding: 0px;">
              <li>
                <a href="">
                  <div class="navbar-login">
                    <div class="row">        
                      <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                        <p class="text-center img-responsive" style="margin-top:15px;">
                          <span class="glyphicon glyphicon-user icon-size2" style="color: #b0e0e6;"></span>
                        </p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-xs-8 col-sm-8">
                        <p class="text-left" style="margin-top:15px; margin-left: 6px; font-family:arial;font-size:30px;"><strong>{{ user.get_username }}</strong></p>
                        <p class="text-left"></p>
                      </div>
                    </div>
                  </div>
              </li>
                </a>
              <li class="divider" style="margin-top: 0px;"></li>
              <li>
                <div class="navbar-login navbar-login-session">
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                      <p > 
                        <a href="{{company_url}}password_change/" style="width:320px; font-family:arial;" class="btn btn-block btn-primary" >Change Password</a>
                      </p>   
                      <p>
                        <a href="{{company_url}}logout/" class="btn  btn-block btn-primary" style="width: 320px; font-family:arial;">Logout</a>
                      </p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
 		<!------------------------------------------------------>
 		
					<!--Desktop responsiveness begin-->
  <div id="page-content" style="height: calc(100vh);overflow-y: auto;" class="hidden-xs hidden-sm hidden-md">
    <div ng-switch = "submenu">
      <div ng-switch-default>
        <div class="col-lg-12  col-md-12  col-sm-12  hidden-xs hidden-sm ">
            <div ng-repeat = "i in esclatedList track by $index "  class = "row col-lg-12 col-md-12 col-sm-12 hidden-xs  container-fluid" ng-if = "'{[{$index % 3}]}'!= 0" >
              <div style="font-family:Arial; font-size:17px; text-align:center;text-transform:capitalize;letter-spacing:1px; font-weight:bold;">&#9971;{[{i.line}]}</div>
              <div ng-repeat = "j in i.escId track by $index "  class = "row col-lg-3 col-md-3 col-sm-3 hidden-xs  container-fluid " ng-if = "'{[{$index % 3}]}'!= 0" >

                <button   class="alert alert-{[{j.mType}]}"   ng-click="GetEscaltionBeakup(j)" style="width:200px;height:58px;">
                  <div class="col-lg-12 pull-center">
                  </div>
                  <div class="pull-center" style="font-family:Arial; font-size:13px; color:#fff5ee;"> {[{j.machine_id}]}
                  </div>
                   <div class="pull-center" style="font-family:Arial; font-size:13px; color:#fff5ee;"> {[{j.date| date :"HH:MM" }]}
                  </div>
                </button>

              </div>
            </div>
          </div>
        </div>
  
        <div ng-switch-when="operator">
          <div ng-include src="'{{ company_url }}operatorTemplate/'" ></div>
        </div>
        <div ng-switch-when="settings">
          <div ng-include src="'{{ company_url }}settings/'" ng-controller='settingsController'></div>
        </div>

        <div ng-switch-when="scheduling">
          <div ng-include src="'{{ company_url }}scheduling/'" ng-controller='schedulingController'></div>
        </div>

        <div ng-switch-when="qrscanner" ng-controller='qrCodeScannerController'>
          <div ng-include src="'{{ company_url }}qrscanner/'" ></div>
        </div>

        <div ng-switch-when="report" ng-controller='reportController'>
          <div ng-include src="'{{ company_url }}report/'" ></div>
        </div>


       
  </div>
  </div>


  <!-------------------------------------------------------------->

          <!--mobile responsiveness begin-->

  <div class="col-xs-12 hidden-lg">
    <div id="page-content" style="height: calc(100vh);overflow-y: auto;" >
      <div ng-switch = "submenu">
        <div ng-switch-default>
          <div class="col-xs-offset-2 col-xs-10 hidden-lg hidden-md hidden-sm ">
              <div ng-repeat = "i in esclatedList track by $index "  class = "row col-xs-12 hidden-lg hidden-md hidden-sm container-fluid" ng-if = "'{[{$index % 3}]}'!= 0" >
                <div style="font-family:Arial; font-size:17px; text-align:center;text-transform:capitalize;letter-spacing:1px; font-weight:bold;">&#9971;{[{i.line}]}</div>
                <div ng-repeat = "j in i.escId track by $index "  class = "row col-xs-12 hidden-lg hidden-md hidden-sm container-fluid " ng-if = "'{[{$index % 12}]}'!= 0" >

                  <button   class="alert alert-{[{j.mType}]}"   ng-click="GetEscaltionBeakup(j)" style="width:200px;height:58px;">
                    <div class="col-xs-12 pull-center">
                    </div>
                    <div class="pull-center" style="font-family:Arial; font-size:13px; color:#fff5ee;"> {[{j.machine_id}]}
                    </div>
                  </button>

                </div>
              </div>
            </div>
          </div>
    
    
          <div ng-switch-when="operator">
            <div ng-include src="'{{ company_url }}operatorTemplate/'" ></div>
          </div>
          <div ng-switch-when="settings">
            <div ng-include src="'{{ company_url }}settings/'" ng-controller='settingsController'></div>
          </div>
           <div ng-switch-when="qrscanner" ng-controller='qrCodeScannerController'>
          <div ng-include src="'{{ company_url }}qrscanner/'" ></div>
        </div>
         


         
    </div>
   </div>
  </div>

  <div ng-switch-when="qrscanner" ng-controller='qrCodeScannerController'>
          <div ng-include src="'{{ company_url }}qrscanner/'" ></div>
        </div>
 </body>
</html>