<div class="clearfix " >  
  <!-- <div class="panel" style="height: 200px;"> -->
  <div class="modal-dialog">
      <div class="modal-header">
        <div class="pull-center"style="text-align: center; font-weight: bold;white-space:nowrap;">Machine Id :{[{esclationDetails.machine_id}]}
        </div>     
      </div>     
      <div class="modal-body">
       <!--  <div class="container" > -->

       	<table class="table" >
          <thead>
            <tr>
              <th>Question No:</th>
              <th>Questions:</th>

              <th>Status<th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat ="i in esclationDetails.questionsStatus track by $index">
              <td>{[{i.question_number}]}</td>
              <td>{[{i.question}]}</td>
              <td>{[{i.status}]}</td>
            </tr>
          </tbody>
        </table>

        <div ng-show="verifyBtn" class="col-lg-offset-9 col-lg-3 col-md-offset-9 col-md-3 col-sm-offset-9 col-sm-3">
            <button type="button"  ng-click="solved('verified')" class="btn  pull-right" style="margin:0 5px; background-color:#2e8b57;color:white;">Verified
          </button> 
        </div>
         <div ng-show="mActionBtn" class="col-lg-offset-9 col-lg-3 col-md-offset-9 col-md-3 col-sm-offset-9 col-sm-3">
            <button type="button"  ng-click="solved('solved')" class="btn  pull-right" style="margin:0 5px; background-color:#2e8b57;color:white;">
                Solved
          </button> 
        </div>
  </div>
  </div>
</div>