<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}
  	<meta charset="UTF-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<title>autoCLITA</title>
  
   	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.5/paper/bootstrap.min.css">
  
    <link rel="stylesheet" href="{% static "css/dashboard.css" %}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.0/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
   
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-touch.min.js"></script>

    <script src="{% static "js/qr_code_scanner.js" %}"></script>
  
  
    <style type="text/css">
    .table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td{
    padding: 1px;
  }</style>
  </head>


  <body ng-app="qrcode-app" ng-controller='qrController' ng-init="init('{{companyName}}','{{machineId}}')"> 
  
    <nav class="navbar navbar-A hidden-print navbar-default" style="border-radius:0;margin-bottom:0;">
      <div class="navbar-header">
          <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> -->
            <!-- <span class="sr-only">Toggle navigation</span> -->
            <!-- <span class="icon-bar"></span> -->
            <!-- <span class="icon-bar"></span> -->
            <!-- <span class="icon-bar"></span> -->
          <!-- </button>      -->
      </div>
      <div class=" collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right ">
          <!-- <li  ng-class="{active:submenu==false}"><a href= "" ng-click = "SubmenuChooser(false)" style="color: white; " ><p><b>Dashboard</b></p></a></li>    -->
          <!-- <li ng-class="{active:submenu=='ShiftManagment'}"><a href= "" ng-click = "SubmenuChooser('ShiftManagment')" style="color: white;"><p><b>Shift Managment</b></p></a></li> -->
          <!-- <li ng-class="{active:submenu=='Scheduling'}"><a href= "" ng-click = "SubmenuChooser('Scheduling')" style="color: white;"><p><b>Scheduling</b></p></a></li> -->
          <!-- <li class="dropdown"> -->
            <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:white; font-size:15px;  font-family:arial;"><strong>{{ user.get_username }}</strong>  -->
              <!-- <span class="fa fa-user icon-size:medium"></span> -->
              <!-- <span style="font-size:0px; font-family:arial;"> <span> -->
              <!-- <span class="caret"></span> -->
            <!-- </a> -->
            <!-- <ul class="dropdown-menu" style="margin: 0px; padding: 0px;"> -->
              <!-- <li> -->
                <!-- <a href=""> -->
                  <!-- <div class="navbar-login"> -->
                    <!-- <div class="row">         -->
                      <!-- <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4"> -->
                        <!-- <p class="text-center img-responsive" style="margin-top:15px;"> -->
                          <!-- <span class="glyphicon glyphicon-user icon-size2" style="color: #b0e0e6;"></span> -->
                        <!-- </p> -->
                      <!-- </div> -->
                      <!-- <div class="col-lg-8 col-md-8 col-xs-8 col-sm-8"> -->
                        <!-- <p class="text-left" style="margin-top:15px; margin-left: 6px; font-family:arial;font-size:30px;"><strong>{{ user.get_username }}</strong></p> -->
                        <!-- <p class="text-left"></p> -->
                      <!-- </div> -->
                    <!-- </div> -->
                  <!-- </div> -->
                <!-- </a> -->
              <!-- </li> -->
              <!-- <li class="divider" style="margin-top: 0px;"></li> -->
              <!-- <li> -->
                <!-- <div class="navbar-login navbar-login-session"> -->
                  <!-- <div class="row"> -->
                    <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" > -->
                      <!-- <p >  -->
                        <!-- <a href="{{company_url}}password_change/" style="width:320px; font-family:arial;" class="btn btn-block btn-primary" >Change Password</a> -->
                      <!-- </p>    -->
                      <!-- <p> -->
                        <!-- <a href="{{company_url}}logout/" class="btn  btn-block btn-primary" style="width: 320px; font-family:arial;">Logout</a> -->
                      <!-- </p> -->
                    <!-- </div> -->
                  <!-- </div> -->
                <!-- </div> -->
              <!-- </li> -->
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

 		<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
 		
					<!--Desktop responsiveness begin-->
<div id="page-content" style="height: calc(100vh);overflow-y: auto;" >
 	<div ng-switch = "submenu">
 		<div class="col-lg-offset-4 col-lg-8 col-md-offset-4 col-md-8 hidden-sm hidden-xs">
	    		<div ng-switch-when="operator" style="text-align: center; margin-top: 80px; font-size: 100px; border-style: solid; border-color: #1abea5; width: 50%; border-radius: 50px 0px 50px 0px; padding:10px; background-color: #1abea5">
	    			&#9996;
	  			<h4 style="color: white; font-family: verdana;"> 
				CHECKLIST FILLED SUCCESFULLY  <br>
	  			</h4>    
			</div>
		</div>
		<!-- <mobile responsiveness only for this page> -->
		<div class="hidden-lg hidden-md col-sm-12  col-xs-12">
	    		<div ng-switch-when="operator"  style="text-align: center; margin-top: 50px; font-size: 75px; border-style: solid; border-color: #1abea5; border-radius: 50px 0px 50px 0px;background-color: #1abea5;">
	    			&#9996;
	  			<h4 style="color: white; font-family: verdana;"> 
				CHECKLIST FILLED SUCCESFULLY  <br>
	  			</h4>    
			</div>
		</div>
		<!-- <mobile responsiveness ends> -->
		<div ng-switch-default>
			<div class="hidden-lg col-md-12 col-sm-12 col-xs-12" style="font-family:arial; text-align: center;"><h5>{[{heading}]}</h5></div>
			<div   class= "hidden-lg col-md-12 col-sm-12 col-xs-12 pull-center" style="background-image:url({%static 'checklists/' a%}{[{questionInfo.photo_activity}]}) ;background-repeat: no-repeat;background-attachment: fixed;background-position: center;background-size: 50%;">
				<div ng-repeat = "(k,v) in checkListParams.machineInfo">
					<div align = "right" class="hidden-lg col-md-6 col-sm-6 col-xs-6" style="border:1px solid blur; font-family:arial; color: #ff0066"><b>{[{k}]}:</b></div>
		  				<div align = "left" class="hidden-lg-md-6 col-sm-6 col-xs-6" style="border:1px solid blur; font-family:arial; color:  #ff0066;">{[{v}]}</div>
				</div>
			</div>
			<div class="row">
				<div class="hidden-lg col-md-12 col-sm-12 col-xs-12">
					<img   style="width: 100%;"  src= "{%static 'checklists/' a%}{[{questionInfo.photo_location}]}">
				</div>
			</div>
			<div ng-repeat = "i in questionInfo.displayOnly" class="row">
				<div ng-repeat = "(k,v) in i">
		  			<div align="right" class="hidden-lg col-md-6 col-sm-6 col-xs-6" style="border:1px solid #008080; font-family:arial;"><b>{[{k}]}:</b></div>
		  			<div align="left" class="hidden-lg col-md-6 col-sm-6 col-xs-6" style="border:1px solid #ff9999; font-family:arial;">{[{v}]}</div>
				</div>
			</div>
		                <div class="col-lg-offset-5 col-lg-7 hidden-md hidden-sm hidden-xs" style="font-family:arial; text-align: left; background-color:blur; border-radius:50px 0px 50px 0px;"><h5>		{[{heading}]}</h5>
		                </div>
		                 <!--first img-->
		                <div class="col-lg-12 hidden-xs hidden-sm hidden-xs ">
		                     	 <div   class= "col-lg-4 hidden-md hidden-sm hidden-xs" style="background-image:url({%static 'checklists/' a%}{[{questionInfo.photo_activity}]}) ;background-repeat: no-repeat;height: 300px;">   
		               	</div>
		               	<div class= "col-lg-4 hidden-md hidden-sm hidden-xs ">
		                          		<div class= "col-lg-12 hidden-md hidden-sm hidden-xs " ng-repeat = "(k,v) in checkListParams.machineInfo">
		                                 		 <div  class= "col-lg-12 hidden-md hidden-sm hidden-xs " style="border:2px solid #a65959;border-left: groove;border-bottom: groove;border-top: groove;border-right: groove;font-family:arial; color: #616865;text-align: center;"><b>{[{k}]} : {[{v}]}</b></div>
		                          		</div>
		                	</div>
		                	<div class="col-lg-offset-1 col-lg-3 hidden-md hidden-sm hidden-xs container-fluid">
		                        		<img   style="height: 234px;width: 320px;"  src= "{%static 'checklists/' a%}{[{questionInfo.photo_location}]}">
		                	</div>
		           	</div>
	               </div>
                    	<div ng-repeat = "i in questionInfo.displayOnly" class="row">
                    		<div ng-repeat = "(k,v) in i">
                    			<div align="right" class="col-lg-6 hidden-md hidden-sm hidden-xs" style="border:1px  groove; font-family:arial;"><b>{[{k}]}:</b></div>
                    			<div align="left" class="col-lg-6 hidden-md hidden-sm hidden-xs" style="border:1px  groove; font-family:arial;">{[{v}]}</div>
                    		</div>
                    	</div>
		<footer  ng-show="enableFooter" class="clearfix" style=" z-index: 1000;bottom: 0px;position: fixed;width: 100%;" >
			<div class="row">
	        			<div class="col-lg-6 hidden-md hidden-sm hidden-xs btn btn-group-justfied btn-success"  ng-click="Submit('ok')">OK
	          				<span class="glyphicon glyphicon-thumbs-up"></span>
	        			</div>
	        			<div class="col-lg-6 hidden-md hidden-sm hidden-xs btn btn-group-justfied btn-danger"  ng-click="Submit('notok')">NOT OK
	  	  			<span class="glyphicon glyphicon-thumbs-down"></span>
	        			</div>
	        			<div class="hidden-lg col-md-6 col-sm-6 col-xs-6 btn btn-group-justfied btn-success"  ng-click="Submit('ok')">OK
	        	  			<span class="glyphicon glyphicon-thumbs-up"></span>
	        			</div>
	        			<div class="hidden-lg col-md-6 col-sm-6 col-xs-6 btn btn-group-justfied btn-danger"  ng-click="Submit('notok')">NOT OK
	        	  			<span class="glyphicon glyphicon-thumbs-down"></span>
	        			</div>
			</div>
		</footer>
        	</div>
 </div>
  </body>
</html>
