<!--  {% load staticfiles %} -->
<div class="hidden-lg col-md-12 col-sm-12 col-xs-12" style="font-family:arial; text-align: center;"><h5>{[{heading}]}</h5></div>
<div   class= "hidden-lg col-md-12 col-sm-12 col-xs-12 pull-center" style="background-image:url({%static 'checklists/' a%}{[{questionInfo.photo_activity}]}) ;background-repeat: no-repeat;background-attachment: fixed;background-position: center;background-size: 50%;">
<!-- <div class="row" > -->
    <div ng-repeat = "(k,v) in checkListParams.machineInfo">

      <div align = "right" class="hidden-lg col-md-6 col-sm-6 col-xs-6" style="border:1px solid blur; font-family:arial; color: #ff0066"><b>{[{k}]}:</b></div>
      <div align = "left" class="hidden-lg-md-6 col-sm-6 col-xs-6" style="border:1px solid blur; font-family:arial; color:  #ff0066;">{[{v}]}</div>
    <!-- </div> -->
</div>
</div>
<div class="row">

  <div class="hidden-lg col-md-12 col-sm-12 col-xs-12">
    <img   style="width: 100%;"  src= "{%static 'andon_uploads/' a%}{[{questionInfo.photo_location}]}">

  </div>
<!--   <div 88class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <img class="row img-responsive" src= "{%static 'andon_uploads/' a%}{[{questionInfo.photo_activity}]}">
  </div> -->
  </div>

<!-- <div > -->

  <div ng-repeat = "i in questionInfo.displayOnly" class="row">
   
    <div ng-repeat = "(k,v) in i">
      <div align="right" class="hidden-lg col-md-6 col-sm-6 col-xs-6" style="border:1px solid #008080; font-family:arial;"><b>{[{k}]}:</b></div>
      <div align="left" class="hidden-lg col-md-6 col-sm-6 col-xs-6" style="border:1px solid #ff9999; font-family:arial;">{[{v}]}</div>
  </div>
  </div>
 <!--   <div align="right" class="hidden-lg col-md-6 col-sm-6 col-xs-6" style="border:1px solid #008080; font-family:arial;"><b>frequency</b></div>
    <div align="left" class="hidden-lg col-md-6 col-sm-6 col-xs-6" style="border:1px solid #ff9999; font-family:arial;">{[{frequency}]}</div> -->
<!-- </div> -->


  
                                                                                            <!--Desktop Responsiveness  begin-->




                    <div class="col-lg-offset-5 col-lg-7 hidden-md hidden-sm hidden-xs" style="font-family:arial; text-align: left; background-color:blur; border-radius:50px 0px 50px 0px;"><h5>{[{heading}]}</h5></div>

                              <!--first img-->
                    <div class="col-lg-12 hidden-xs hidden-sm hidden-xs ">
                          <div   class= "col-lg-4 hidden-md hidden-sm hidden-xs" style="background-image:url({%static 'checklists/' a%}{[{questionInfo.photo_activity}]}) ;background-repeat: no-repeat;height: 300px;">   </div>
                          <div class= "col-lg-4 hidden-md hidden-sm hidden-xs ">
                          <div class= "col-lg-12 hidden-md hidden-sm hidden-xs " ng-repeat = "(k,v) in checkListParams.machineInfo">
                                  <div  class= "col-lg-12 hidden-md hidden-sm hidden-xs " style="border:2px solid #a65959;border-left: groove;border-bottom: groove;border-top: groove;border-right: groove;font-family:arial; color: #616865;text-align: center;"><b>{[{k}]} : {[{v}]}</b></div>
                          </div>
                          </div>
                        <div class="col-lg-offset-1 col-lg-3 hidden-md hidden-sm hidden-xs container-fluid">
                            <img   style="height: 234px;width: 320px;"  src= "{%static 'checklists/' a%}{[{questionInfo.photo_location}]}">
                        </div>
                      </div>
                
                    </div>


                    <div ng-repeat = "i in questionInfo.displayOnly" class="row">
                   
                    <div ng-repeat = "(k,v) in i">
                    <div align="right" class="col-lg-6 hidden-md hidden-sm hidden-xs" style="border:1px  groove; font-family:arial;"><b>{[{k}]}:</b></div>
                    <div align="left" class="col-lg-6 hidden-md hidden-sm hidden-xs" style="border:1px  groove; font-family:arial;">{[{v}]}</div>
                    </div>
                    </div>
                    <!--  <div align="right" class="col-lg-6 hidden-md hidden-sm hidden-xs" style="border:1px  groove; font-family:arial;"><b>frequency:</b></div>
                    <div align="left" class="col-lg-6 hidden-md hidden-sm hidden-xs" style="border:1px  groove; font-family:arial;">{[{frequency}]}</div> -->

  <footer  class="clearfix" style=" z-index: 1000;bottom: 0px;position: fixed;width: 100%;" >
     <div class="row">
        <div class="col-lg-6 hidden-md hidden-sm hidden-xs btn btn-group-justfied btn-success"  ng-click="Submit('Ok')">OK
          <span class="glyphicon glyphicon-thumbs-up"></span>
        </div>
        <div class="col-lg-6 hidden-md hidden-sm hidden-xs btn btn-group-justfied btn-danger"  ng-click="Submit('Not Ok')">NOT OK
          <span class="glyphicon glyphicon-thumbs-down"></span>
        </div>
        <div class="hidden-lg col-md-6 col-sm-6 col-xs-6 btn btn-group-justfied btn-success"  ng-click="Submit('Ok')">OK
          <span class="glyphicon glyphicon-thumbs-up"></span>
        </div>
        <div class="hidden-lg col-md-6 col-sm-6 col-xs-6 btn btn-group-justfied btn-danger"  ng-click="Submit('Not Ok')">NOT OK
          <span class="glyphicon glyphicon-thumbs-down"></span>
        </div>
    </div>
  </footer>

                                                                                                                <!--Desktop   Responsiveness end-->                    

                                             

