    <div class="container" >
    <p ng-hide="cameraRequested && !cameraIsOn">Your browser should ask for permission to use the camera.</p>
    <div class="jumbotron col-lg-7 ol-sm-12 col-md-12 col-xs-12">
      <bc-qr-reader active="cameraRequested" on-result="processURLfromQR" on-error="onError" camera-status="cameraIsOn" width="800px" height="500px"></bc-qr-reader>
    </div>
    </div>
    <p ng-show="url">QR code detected!</p>
    <p><b>{{ url }}</b></p>
