<div class="container">


    <div class='col-lg-6  col-sm-6 col-md-6 col-xs-6 row '>
         <div class='col-lg-3  col-sm-3 col-md-3 col-xs-3' >Lines:</div>
            <div class='col-lg-9  col-sm-9 col-md-9 col-xs-9' >
                <select class='col-lg-8  col-sm-8 col-md-8 col-xs-8' style="font-size:12px; border-radius:7px;font-family:Arial;background-color:white; border:2px solid #ccc; margin-bottom:2px;height:35px; color:grey; " ng-model= "reportParams.line" ng-change = "lineChange()" ng-options = "i.line as i.line for i in plantPrams"></select>
            </div>
     </div>
        
        
    <div class='col-lg-6  col-sm-6 col-md-6 col-xs-6'>
         <div class='col-lg-3  col-sm-3 col-md-3 col-xs-3' >Machines:</div>
            <div class='col-lg-9  col-sm-9 col-md-9 col-xs-9' >
                   <select class= "col-lg-8 col-md-8 col-sm-8 col-xs-8" style="font-size:12px; border-radius:7px;font-family:Arial;background-color:white; border:2px solid #ccc; margin-bottom:2px; height:35px; color:grey; " ng-model= "reportParams.machine" ng-change = "machineChange()" ng-options = " i for i in machineInfo"></select>
            </div>

            
    </div><br><br><br><br><br><br><br><br><br><br>

        <!-- <div class="col-lg-2"><br><br><br>
            <line-plot graph-plots="graphPlots"></line-plot>
        </div> -->

        <span class="col-lg-2">MTTR:</span><span class='well col-lg-10'>{[{plantHealthIndicator.MTTR}]}</span><br><br><br><br><br>

        <!-- <span class="col-lg-2"><b>MTBR:</b></span><span class='col-lg-10'>vucfu</span> -->
</div>