
<div class="container">
<div ng-repeat="i in scheduledInfo">
         <div class="col-lg-11" id="line">
            <input type="button" value="{[{i.line}]}" ng-click="ShowHide( $index)" class="btn-group-justified" id="input"/>
          </div>
       
          <span  ng-show="index1 == $index">
           <span ng-repeat = "(k,v) in i.owners">
               <div class="col-lg-6" > 
                  
                     <div class="well" ><h6>{[{k}]}</h6>
                         <span class="col-lg-8" ng-repeat="j in v">
                                <input type="checkbox" ng-change = "SetSchedule(i.line,j)" ng-model="j.isScheduled"  >
                                {[{j.email}]}
                        </span>
                    </div>

                 </div>
              </span>
          </span>
       

  </div>
  </div>
  </div>