

<div class="col-lg-12 row">
   <div class="col-lg-8">
    <div ng-repeat="list in model" >
      <div class="panel panel-info">
        <div class="panel-heading" ng-click="ShowHide( $index)"><h3 class="panel-title" >{[{lineMachines[$index].line}]}</h3></div>
        <div class="panel-body">
          <span  ng-show="index1 == $index">
          <ul dnd-list dnd-drop="callback({targetList: list, targetIndex: index,line:lineMachines[$index].line})">
            <li ng-repeat="item in list"
                dnd-draggable="null" dnd-callback="onDrop(list, $index, targetList, targetIndex,line)">
              {[{item.labelFunc($index).assetNumber}]}
            </li>

          </ul>
        </span>
        </div>
      </div>
    </div>
  </div>
   <div class="col-lg-4">
    <div ng-repeat="list in model1">
      <div class="panel panel-info">
        <div class="panel-heading"><h3 class="panel-title">{[{reserveMachines[0].line}]}</h3></div>
        <div class="panel-body">
          <ul dnd-list dnd-drop="callback({targetList: list, targetIndex: index ,line:reserveMachines[0].line})">
            <li ng-repeat="item in list"
                dnd-draggable="null" dnd-callback="onDrop(list, $index, targetList, targetIndex ,line)" >
              {[{item.labelFunc($index).assetNumber}]}
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
 
</div>



    