body {          
        background-color: #cccccc;
/*background: url("../images/back.jpg") no-repeat center center fixed;*/
background: blue;

 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container img{
	width: 320px;
	height: 100px;
	margin-top: 10px;
	margin-bottom: 30px;
}

.aa{
  width: 400px;
  height: 310px;
  background-color: rgba(0,0,0,0.5);
  margin:0 auto;
  margin-top: 40px;
  padding-top: 10px;
  padding-left: 50px;
  border-radius: 15px;
  -webkit-border-radius:15px;
  -o-border-radius:15px;
  -moz-border-radius:15px;
  color: white;
  font-weight: bolder;
  box-shadow: inset -4px -4px rgba(0,0,0,0.5);
}
.aa input[type="text"]{
  width: 200px;
  height: 35px;
  padding-left: 5px;
  border:0;
  border-radius: 5px;
  -webkit-border-radius:10px;
  -moz-border-radius:5px;
  padding-left: 115px;
}
.aa input[type="password"]{
  width: 200px;
  height: 35px;
  padding-left: 5px;
  border:0;
  border-radius: 5px;
  -webkit-border-radius:10px;
  -moz-border-radius:5px;
  padding-left: 115px;
}

.btn-login{
	padding: 8px 25px;
	color: #fff;
	border-radius: 10px;
	border: none;
	background-color: #2ECC71;
	border-bottom:4px solid #27AE60;
	margin-bottom: 20px;
	padding-left: 132px;
	padding-right: 132px;
  font-size: 15px;
  font-weight:bolder;
}

.map-heading{
  height:50px;
}







