body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
	height: 100%;
}


.full {

  background:   white; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

#footer {
  height: 60px;
  background-color: #f5f5f5;
}

.panel-default {
 opacity: 0.9;
 margin-top:50px;
}
.panel-login {
 opacity: 1.0;
 margin-top:30px;
}
