.body{
	background: #bfbfbf;
	font-family: arial ;
}

.success-bak, .alert-success, .btn-success, .panel-success .panel-heading{
	background: #60bc60;
}


.danger-bak, .alert-danger, .btn-danger, .panel-danger .panel-heading{
background: #ff6c60;}

.warning-bak, .alert-notice, .btn-warning, .panel-warning .panel-heading{
	background: #f8d347;
}

.primary-bak, .alert-primary, .btn-primary, .panel-primary .panel-heading{
	background: #57c8f2;
}
.scrollit {
	overflow:scroll;
	height:280px;
	padding-top: 0px;
	margin: 0px;
}
#loadingdiv{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 20000;
	color: #336699;
	padding: 10%;
	display: none;
	overflow: none;
}

.modal-header{
	border-bottom: 3px solid #dddddd;
}

.modal-footer{
	border-top: 1px solid #DDD;
}

.navbar-login
{
	width: 305px;
 
	padding-left: 10px;

	padding-bottom: 0px;
}

.navbar{
	border-style: ;
	border-color: #1ebea5;
	border-width:0px 0px 4px 0px;
	margin-bottom:0;
	background-color: #1ebea5;


}

.navbar-login-session
{
	padding: 10px;
	padding-bottom: 0px;
	padding-top: 0px;
}


.icon-size
{
	font-size: 5px;
}
.icon-size2
{
	font-size: 86px;
}

.well{
	color: #666666;
}

#wrapper {
	height: 100%;
	position: relative;
	z-index: 500;
	float: left;
	width: 100%;
	min-height: 85vh;

}

#sidebar-wrapper {
	width: 80px;
	background:white;

	left:0;
	height: 100%;
	padding: 0;
	margin: 0;
	float: left;
	position: absolute;
	 z-index: 400;
	 
}

#page-content {

	position: relative;
	z-index: 100;
	height: auto;
	float: left;
	padding-top: 20px;
	width: 100%;
}

.sidebar-nav {
	display: block;
	float: left;
	width: 100%;
	list-style: none;
	padding: 0;
	height: 100%;
	border-left:2px solid white;
}


.sidebar-nav li:first-child{
	margin-top: 10px;
	background-color: #1ebea5;
	border-radius:5px 50px 5px 50px;
}


.sidebar-nav li{
	padding: 10px 15px;
	text-align: center;
	/*color: white;*/
	color: white;
	background-color: #1ebea5;
	border-radius: 5px 50px 5px 50px;
}

.sidebar-nav li p{
	margin: 0;
	line-height: 1.3;

}

.sidebar-nav .active{
	border-left:2px solid #57c8f2;
}

.sidebar-nav li:last-child{
	border-bottom: none;
	background-color:#1ebea5;
	border-radius:5px 50px 5px 50px;
}

.sidebar-nav li a{
	color: #b0e0e6;
	text-decoration: none;
	cursor: pointer;
	font-size: .8em;
	opacity: 1.0;
}

.sidebar-nav li a:hover{
	opacity: 1.0;
	background-color: #c3ee77;

	
}

.dashboard_count_widget{
	padding: 0;
	margin: 0 10px;
	border:0;
}



.user-profile-body .input-group{
	margin: 25px 0;
}



.radio, .checkbox{
	margin-top: 0;
}

footer{
	background:#DDD;
}

footer p{
	margin: 0;
}
.table-head{
	background-color:#1ebea5;
	font-family:courier;
	font-size:17px;
	color: white;
	font-weight:normal;
    

}
.swipe-left.ng-leave, .swipe-right.ng-leave {
	-webkit-transition: 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
	-moz-transition: 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
	-ms-transition: 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
	-o-transition: 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
	transition: 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
}
.swipe-left.ng-leave {
    	left: 0;
}
.swipe-left.ng-leave.ng-leave-active {
   	 position: absolute;
    	left: -100%;
}
.swipe-right.ng-leave {
  	left: 0;
}
.swipe-right.ng-leave.ng-leave-active {
    	position: absolute;
    	left: 100%;
}


.text {
	position: absolute;
	width: 100%;
	left: 0;
	text-align: center;
	margin: auto;
	padding-top: 5px;
	font-size:32px; 
	color:#336699;
}
#Hover {
	background-color: yellow;
}

.navbar-A{
	background-color: #1ebea5;
}

#sidebar-A{
	background-color: white;
	width: 5%;
	height: 100%;
	float: left;
	border-left: 4px solid #efc050;
}
.modal-xlg{
   	width:1200px;
}


input[type=macid1], i {
	width: 50%;
	padding: 0px 20px;
	text-decoration: none;
	margin-left: 11px;
}

input[type=macid2], i {
   	width: 50%;
  	padding: 0px 0px;
  	margin-left: 47px;
}