#line{
	
	color:white;
	font-size: 30px;
	
}

#input{
	background-color:#22bea5;
	border-radius: 10px;
	height: 50px;
	box-shadow: 20px 20px 5px grey;
	}


.h1{
	color:white;
	
}

.well:hover{
	background-color: #22bea5;
	
	
	
 
}

.well{
	border: 100px;
	width: 370px;
    height: 120px;
    box-shadow: 10px 10px 5px grey;

}
