
ul[dnd-list] {
  min-height: 42px;
  padding: 0;
  background-color: #22bea5;
}

ul[dnd-list] > li {
 /* border-bottom: 1px solid #ddd;*/
  display: block;
  padding: 10px 15px;
}

ul[dnd-list] > li.dndDraggingSource {
  display: none;
  background-color: red;

  
}

ul[dnd-list] > li.dndPlaceholder {
  background-color: green;
  min-height: 42px;
  
}

.panel .panel-body {
  padding: 0;
  box-shadow: 20px 20px 5px grey;
}

.panel .panel-info{
	background-color: #22bea5;
}

}
